<div class='card bg-primary'>
  <div class='card-body'>
    <div><h2 class='card-title'>{{title}}</h2>
      <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
    </div>

    <p>{{content}}</p>
    <a href='blog/{{id}}' class='btn'>View Post</a>
  </div>
</div>