<div class='card'>
  <div class='container'>
    <div class='row card-title'>
      <h2 class='col-sm-12 col-md-8'>{{title}}</h2>
      <p class='col-sm-12 col-md-4'>Posted by
        {{user.username}}
        on
        {{format_date createdAt}}</p>
    </div>

    <div class='card-body'>
      <p>{{content}}</p>
    </div>
    {{#unless isBlogPage}}
      <a href='blog/{{id}}' class='btn mt-2 mb-2'>View Post</a>
    {{/unless}}
  </div>
</div>