<div class='card bg-info'>
  <div class='card-body'>
    <div><h2 class='card-title'>{{title}}</h2>
      <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
    </div>

    <p>{{content}}</p>
    {{#unless isBlogPage}}
      <a href='blog/{{id}}' class='btn btn-secondary'>View Post</a>
    {{/unless}}
  </div>
</div>